<ul>
    <li>توسط کتابخانه پانداز فایل csv را میخوانیم</li>
    <li>دیتا تایپ داده شده در سوال را در هنگام خواندن فایل csv اصلاح میکنیم</li>
    <li>هر دو فایل داده شده یعنی test و train را خوانده و در دو متغییر متفاوت قرار می دهیم</li>
</ul>

In [3]:
import pandas as pd

data_types = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

data_train = pd.read_csv('kc_house_train_data.csv', dtype = data_types)
data_test = pd.read_csv('kc_house_test_data.csv', dtype = data_types)

In [4]:
#show first five train_data
data_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [5]:
#show first five test_data
data_test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0114101516,20140528T000000,310000.0,3.0,1.0,1430.0,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780.0,12697.0
1,9297300055,20150124T000000,650000.0,4.0,3.0,2950.0,5000,2,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140.0,4000.0
2,1202000200,20141103T000000,233000.0,3.0,2.0,1710.0,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030.0,4705.0
3,8562750320,20141110T000000,580500.0,3.0,2.5,2320.0,3980,2,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580.0,3980.0
4,7589200193,20141110T000000,535000.0,3.0,1.0,1090.0,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570.0,5080.0

    تابعی می نویسیم که توسط روش closed form ورودی هایمان که همان ویژگی هایمان است مثل مساحت خانه و قیمت خانه ها را به آن داده و عرض از مبدا و شیب خط را از آن بگیرد

In [6]:
def simple_linear_regression(input_feature, output):

    N = len(input_feature)
    sum_output = sum(output)
    sum_input = sum(input_feature)
    sum_input_output = sum(output * input_feature)
    sum_input_tavan = sum(input_feature ** 2)

    slope_sorat = (sum_input_output) - (sum_output * sum_input / N)
    slope_makhraj = (sum_input_tavan) - (sum_input * sum_input / N)
    slope = slope_sorat / slope_makhraj
    intercept = (sum_output / N) - (slope * sum_input / N)

    return(intercept, slope)

در اینجا محور xها را متراژ خانه ها در نظر میگیریم و محور yها را به عنوان قیمت خانه ها در نظر میگیریم و با استفاده از تابع بالا مقدار شیب و عرض از مبدا را به دست می آوریم.

In [9]:
input_feature = data_train['sqft_living']
output = data_train['price']

intercept_sqft_living, slope_sqft_living = simple_linear_regression(input_feature, output)

print(f"intercept: {intercept_sqft_living}")
print(f"slope: { slope_sqft_living}")

intercept: -47116.07907289418
slope: 281.9588396303426

ما توسط این تابع وفرمول y=w0+w1xمقدارقیمت پیش بینی شده را به دست می آوریم

In [10]:
#w0+w1(x)
def get_regression_predictions(input_feature, intercept, slope):
    prediction = intercept + (slope * input_feature)
    return(prediction)

In [11]:
prediction_sqft_living = get_regression_predictions(input_feature,intercept_sqft_living,slope_sqft_living)
print(prediction_sqft_living)

0        2.855954e+05
1        6.775181e+05
2        1.699922e+05
3        5.055232e+05
4        4.265748e+05
5        1.481101e+06
6        4.364433e+05
7        2.517603e+05
8        4.547707e+05
9        4.857861e+05
10       9.566574e+05
11       2.799562e+05
12       3.391675e+05
13       4.632294e+05
14       4.857861e+05
15       4.040181e+05
16       2.912345e+05
17       3.053325e+05
18       4.096572e+05
19       8.128584e+05
20       5.929305e+05
21       2.545799e+05
22       6.436831e+05
23       6.436831e+05
24       3.476263e+05
25       3.814614e+05
26       6.775181e+05
27       2.884149e+05
28       6.098480e+05
29       5.337191e+05
             ...
17354    4.265748e+05
17355    1.320384e+06
17356    2.179252e+05
17357    4.406727e+05
17358    7.367295e+05
17359    7.367295e+05
17360    3.081521e+05
17361    4.801470e+05
17362    3.560851e+05
17363    3.814614e+05
17364    2.940541e+05
17365    6.690594e+05
17366    1.337302e+06
17367    7.339099e+05
17368    2.884149e+05
17369    3.842809e+05
17370    9.679357e+05
17371    9.143636e+05
17372    8.320316e+05
17373    1.077900e+06
17374    1.213240e+06
17375    3.546753e+05
17376    3.758222e+05
17377    5.929305e+05
17378    3.730026e+05
17379    9.425594e+05
17380    3.222500e+05
17381    3.842809e+05
17382    4.040181e+05
17383    2.404819e+05
Name: sqft_living, Length: 17384, dtype: float64

با استفاده از شیب و عرض از مبدا قیمت خانه با متراژ ۲۶۵۰ محاسبه می کنیم

In [12]:
prediction_sqft_living = get_regression_predictions(2650,intercept_sqft_living,slope_sqft_living)
print(prediction_sqft_living)

700074.8459475137

با استفاده از تابع زیر جمع خطاها را حساب میکنیم

In [13]:
#Rss= RSS(w0,w1) 
#($house -[w0+w1sq.ft.house 1])2 
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    pridiction = get_regression_predictions(input_feature, intercept, slope)
    RSS = (output - pridiction) ** 2
    return sum(RSS)

In [14]:
RSS = get_residual_sum_of_squares(input_feature, output,intercept_sqft_living, slope_sqft_living)
print(RSS)

1201918354177286.2

ما در اینجا از تابع معکوس استفاده میکنیم یعنی به جای اینکه متراژ بدهیم و قیمت را به دست آوریم قیمت می دهیم متراژ را بدست می آوریم

In [15]:
#x=y-w0/w1
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output - intercept) / slope
    return(estimated_input)

In [16]:
estimated_input = inverse_regression_predictions(800000, intercept_sqft_living, slope_sqft_living)
print(estimated_input)

3004.3962451522766

حال اینجا به جای ورودی متراژ خانه ها ورودی را تعداد اتاق خواب در نظر میگیریم و مجدد محاسبه انجام میدیم

ولی برای داده تست این کار را انجام می دهیم با این که عرض از مبدا و شیب خط را از داده train بدست آورده ایم

In [17]:
input_feature_train_bedroom = data_train['bedrooms']
output_train_price = data_train['price']

input_feature_test_bedroom = data_test['bedrooms']
output_test_price = data_test['price']

intercept_bedrooms, slope_bedrooms = simple_linear_regression(input_feature_train_bedroom, output_train_price)

print(f"intercept: {intercept_bedrooms}")
print(f"slope: { slope_bedrooms}")

intercept: 109473.1776229596
slope: 127588.95293398784

In [83]:
RSS = get_residual_sum_of_squares(input_feature_test_bedroom, output_test_price,intercept_bedrooms, slope_bedrooms)
print(RSS)

493364585960301.4

In [84]:
input_feature_train_sqft_living = data['sqft_living']
output_train_price = data['price']

input_feature_test_sqft_living= data_test['sqft_living']
output_test_price = data_test['price']

intercept_sqft_living, slope_sqft_living = simple_linear_regression(input_feature_train_sqft_living, output_train_price)

print(f"intercept: {intercept_sqft_living}")
print(f"slope: { slope_sqft_living}")

intercept: -47116.07907289418
slope: 281.9588396303426

In [85]:
RSS = get_residual_sum_of_squares(input_feature_test_sqft_living, output_test_price,intercept_sqft_living, slope_sqft_living)
print(RSS)

275402933617813.1